/* 로그인 */

.loginbody {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.loginbody span {
    font-size: 24px;
    font-weight: 400;
    color: #001849;
    align-self: start;
}

/* 로그인 */

/* 공용 */
.inputform {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inputform input {
    width: inherit;
    height: 50px;
    font-size: 10px;
    font-weight: 300;
    background-color: #E1E2EC;
    border: none;
    color: #44474F;
    margin-top: 20px;
    padding-left: 10px;
}

.inputform div {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputform div img {
    padding-top: 10px;
    width: 320px;
    height: 160px;
}

.inputform div h6 {
    font-size: 10px;
    font-weight: 600;
    color: #001849;
}

.inputform div p {
    font-size: 8px;
    font-weight: 300;
    color: #001849;
}

.inputImage {
    background: url("./images/imgicon.png") no-repeat left;
    background-size: 12px;
    background-position: 10px;
    cursor: pointer;
}

.inputform input:focus {
    outline: none;
}

.highlightcomment {
    font-weight: 300;
    font-size: 12px;
    color: #001849;
    text-align: right;
}

.highlightcomment span {
    font-weight: inherit;
    font-size: inherit;
    color: #355CA8;
    text-align: inherit;
    cursor: pointer;
}

.actionbutton {
    width: 100px;
    height: 40px;
    background-color: #E1E2EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 180px;
    cursor: pointer;
}

.actionbutton p {
    font-size: 12px;
    font-weight: 300;
    color: #44474F;
}

.twosidewrapper {
    width: inherit;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 공용 */

/* 회원가입 */

.smallbody {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

.smallbody span {
    font-size: 24px;
    font-weight: 400;
    color: #001849;
    align-self: start;
}

/* 회원가입 */

/* 가게정보 */

.largebody {
    width: 400px;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.largebody span {
    font-size: 24px;
    font-weight: 400;
    color: #001849;
    align-self: start;
}

/* 가게정보 */